body, div, h3, h4, h5{margin:0; padding:0;}
h3, h4,h5{width:auto; height: 40px;padding-left:10px; line-height:2; color:#ddd;}
h3{font-size: 18px; background:#4F81BD;}
h4{font-size: 16px;background: #95B3D7;}
h5{font-size: 14px; color:#000; background: #bbb;}

#jscript{
    width:100%;
    height:auto;
}

#jscript .package{
    width:100%;
    height:auto;
    margin-top: 10px;
    margin-bottom:10px;
    background: #DBE5F1;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
}

#jscript .package .func{
    min-height:100px;
    width:auto;
    margin: 10px;
    background: #fff;
    border: solid 1px #999;
}

#jscript .package .func p{
    margin-left:10px;
}

#jscript .package .func span{color:red; cursor:pointer;}
